@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  background-color: #D89146;
  font-family: "Source Serif Pro", serif;
  line-height: 50px;
  height: 50px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.banner-box img {
    width: 100%;
}   

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.home-headline-1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}    

.home-paragraph-1 {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.home-right-img {
    grid-column: 4 / 6;
}

#content {
  max-width: 960px;
  margin: 0 auto;
}

.home-paragraph-3 {
  text-align: center;
}

body {
  background-color: #A7C4DC;
  font-family: "Open Sans", sans-serif;
}

nav a {
  color: #4059AD;
  font-size: 1.1em;
}

main {
  background-color: white;
}
.home-right-img {
}
.home-paragraph-3 {
  height: 170px;
  margin-bottom: 100px;
}
